{% extends "base.html" %} 

{% block title %} Login {% endblock %}


{% block content %}
<form action="{% url 'postsignup' %}" method="post" style="border:1px solid #ccc">
    {% csrf_token %}
    <div class="container">
      <label for="first_name"><b>First Name</b></label>
      <input type="text" placeholder="Enter Username" name="user_first_name" required><br><br>

      <label for="last_name"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Username" name="user_last_name" required><br><br>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required><br><br>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required><br><br>
  
      <label for="password_repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="password_repeat" required><br><br>
  
      <label>
        <input type="checkbox" name="terms" style="margin-bottom:15px" required> I agree to the <a href="#" style="color:dodgerblue">Terms & Conditions</a>.
      </label>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn" onclick="window.location.href='{% url 'index' %}'">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>


{% endblock %}